<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>paimian/left_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,118},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,167},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,207},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,247},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,287},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,370},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,370},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,370},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,370},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,370},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,402},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_hua_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,411},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_hua_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,411},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_hua_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,410},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_hua_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,410},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,410},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,410},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,410},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,442},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,451},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,460},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,425},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,445},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,425},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,425},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,425},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,425},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,450},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,450},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,450},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,450},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,450},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,482},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,491},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,509},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,465},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,485},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,486},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,465},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,465},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,465},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/left_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,465},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/my_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,452},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,565},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,678},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,791},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,904},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_hua_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_hua_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_hua_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_hua_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,150},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,263},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,376},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,489},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,602},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,715},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,828},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,941},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,150},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,263},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,376},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,489},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,602},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,715},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,828},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,941},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/my_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,150},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>paimian/mydown_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,150},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,205},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,225},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_hua_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,234},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,280},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,318},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,205},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,205},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,205},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,205},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,205},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,234},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,260},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,335},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,260},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,260},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,260},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,260},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,260},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,315},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,315},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,315},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,315},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,315},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,315},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,318},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,327},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,370},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,390},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,402},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/mydown_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,370},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/paibei_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,225},{24,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,60}</string>
			</dict>
			<key>paimian/paibei_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,490},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/paibei_my_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,370},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>paimian/paibei_opp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,0},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>paimian/paibei_opp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,59},{38,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,59}</string>
			</dict>
			<key>paimian/paibei_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,285},{24,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,60}</string>
			</dict>
			<key>paimian/paibei_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,490},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,490},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,490},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,490},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,522},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,531},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,549},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,505},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,525},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,526},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,505},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,505},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_hua_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,505},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_hua_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,505},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_hua_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,530},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_hua_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,530},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,530},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,530},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,530},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,562},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,571},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,589},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,545},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,565},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,566},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,545},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,545},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,545},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,545},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,570},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,570},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,570},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,570},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,570},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,602},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,611},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,629},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,585},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,605},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,606},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,585},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,585},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>paimian/right_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,585},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>paimian0.png</string>
			<key>realTextureFileName</key>
			<string>paimian0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>