<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{867,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,447}}</string>
                <key>sourceSize</key>
                <string>{867,447}</string>
            </dict>
            <key>club_memberlist_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{867,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,532}}</string>
                <key>sourceSize</key>
                <string>{867,532}</string>
            </dict>
            <key>club_ranklist_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{780,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,532}}</string>
                <key>sourceSize</key>
                <string>{780,532}</string>
            </dict>
            <key>club_requestlist_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{867,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,532}}</string>
                <key>sourceSize</key>
                <string>{867,532}</string>
            </dict>
            <key>club_roomlist_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,870},{867,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,447}}</string>
                <key>sourceSize</key>
                <string>{867,447}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clubframe0.png</string>
            <key>size</key>
            <string>{1319,1739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f572215d9d16b53aea4b8736ff669a18:1/1$</string>
            <key>textureFileName</key>
            <string>clubframe0.png</string>
        </dict>
    </dict>
</plist>
