<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>club/club_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{3675,322},{761,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{761,51}</string>
			</dict>
			<key>club/club_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2033,299},{75,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,62}</string>
			</dict>
			<key>club/club_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{3956,1006},{603,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{603,51}</string>
			</dict>
			<key>club/club_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,0},{285,676}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,676}</string>
			</dict>
			<key>club/club_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{3287,600},{282,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,105}</string>
			</dict>
			<key>club/club_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3569,600},{281,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,105}</string>
			</dict>
			<key>club/club_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{4040,604},{10,593}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,593}</string>
			</dict>
			<key>club/club_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{4014,1063},{18,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,31}</string>
			</dict>
			<key>club/club_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{4014,1205},{140,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,36}</string>
			</dict>
			<key>club/club_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{4012,604},{280,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,28}</string>
			</dict>
			<key>club/club_add_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{4053,739},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,35}</string>
			</dict>
			<key>club/club_auto_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{4053,698},{41,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,42}</string>
			</dict>
			<key>club/club_auto_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,255},{116,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,48}</string>
			</dict>
			<key>club/club_auto_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,255},{116,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,48}</string>
			</dict>
			<key>club/club_auto_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2149,255},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,71}</string>
			</dict>
			<key>club/club_auto_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{3662,1083},{198,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,61}</string>
			</dict>
			<key>club/club_auto_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,344},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>
			<key>club/club_auto_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{4014,1005},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>club/club_auto_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2912,220},{201,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,283}</string>
			</dict>
			<key>club/club_auto_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{4034,1005},{189,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,2}</string>
			</dict>
			<key>club/club_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,288},{213,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,75}</string>
			</dict>
			<key>club/club_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,288},{213,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,75}</string>
			</dict>
			<key>club/club_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3889,1320},{144,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,54}</string>
			</dict>
			<key>club/club_create_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{4012,135},{261,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,42}</string>
			</dict>
			<key>club/club_detailbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3453,963},{221,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,75}</string>
			</dict>
			<key>club/club_log_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{4051,396},{862,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{862,2}</string>
			</dict>
			<key>club/club_memberlist_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{4036,1077},{2,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,64}</string>
			</dict>
			<key>club/club_memberlist_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{4053,472},{106,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,41}</string>
			</dict>
			<key>club/club_memberlist_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{4050,1258},{115,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,45}</string>
			</dict>
			<key>club/club_memberlist_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,255},{115,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,45}</string>
			</dict>
			<key>club/club_memberlist_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2033,255},{116,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,44}</string>
			</dict>
			<key>club/club_memberlist_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3726,1006},{171,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,230}</string>
			</dict>
			<key>club/club_memberlist_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{3766,135},{871,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{871,82}</string>
			</dict>
			<key>club/club_ranklist_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{4038,1077},{2,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,64}</string>
			</dict>
			<key>club/club_ranklist_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,303},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>club/club_ranklist_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1746,303},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>club/club_ranklist_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1806,303},{60,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,57}</string>
			</dict>
			<key>club/club_ranklist_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{4014,1373},{779,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{779,82}</string>
			</dict>
			<key>club/club_red_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{4053,773},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>club/club_requestlist_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{4036,1141},{2,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,64}</string>
			</dict>
			<key>club/club_requestlist_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{3528,1168},{153,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,57}</string>
			</dict>
			<key>club/club_requestlist_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{3661,1281},{153,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,57}</string>
			</dict>
			<key>club/club_requestlist_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3848,135},{871,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{871,82}</string>
			</dict>
			<key>club/club_roomlist_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{3533,881},{287,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,68}</string>
			</dict>
			<key>club/club_roomlist_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,454},{125,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,53}</string>
			</dict>
			<key>club/club_roomlist_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,454},{128,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,57}</string>
			</dict>
			<key>club/club_roomlist_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,454},{128,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,54}</string>
			</dict>
			<key>club/club_roomlist_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{4038,1141},{2,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,64}</string>
			</dict>
			<key>club/club_roomlist_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{3889,1177},{143,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,55}</string>
			</dict>
			<key>club/club_roomlist_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{3884,1464},{144,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,54}</string>
			</dict>
			<key>club/club_roomlist_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,531},{143,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,54}</string>
			</dict>
			<key>club/club_roomlist_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,531},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>club/club_roomlist_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{4012,884},{121,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,27}</string>
			</dict>
			<key>club/club_roomlist_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{844,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{844,288}</string>
			</dict>
			<key>club/club_roomlist_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{3930,135},{871,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{871,82}</string>
			</dict>
			<key>club/club_roomlist_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{4014,1035},{28,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,20}</string>
			</dict>
			<key>club/club_roomlist_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{4054,262},{210,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,41}</string>
			</dict>
			<key>club/club_tip_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{4012,396},{208,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,39}</string>
			</dict>
			<key>club/club_tip_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{4055,0},{262,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,40}</string>
			</dict>
			<key>club/club_tip_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,303},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>club/club_tip_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,350},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>club/club_tip_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,454},{179,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,77}</string>
			</dict>
			<key>club/club_tip_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{3453,705},{258,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,80}</string>
			</dict>
			<key>club/club_tip_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{4012,1005},{690,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{690,2}</string>
			</dict>
			<key>club/club_tip_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{3287,322},{388,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,102}</string>
			</dict>
			<key>club/club_tip_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{3195,322},{576,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{576,92}</string>
			</dict>
			<key>club/club1_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2912,0},{1143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1143,135}</string>
			</dict>
			<key>club/club1_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{4036,1005},{3,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,72}</string>
			</dict>
			<key>club/club1_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,454},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>club/club1_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{4053,578},{120,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,30}</string>
			</dict>
			<key>club/club1_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3195,220},{546,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{546,102}</string>
			</dict>
			<key>club/club2_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{3287,424},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>club/club2_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,0},{696,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{696,255}</string>
			</dict>
			<key>club/club3_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{3463,424},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>club/club3_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{3287,705},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/club3_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2216,0},{696,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{696,255}</string>
			</dict>
			<key>club/clubhead_001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{3287,871},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_002.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{3723,1177},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_003.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{3718,1343},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_004.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1520,255},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_005.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{844,285},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_006.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1010,285},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_007.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1176,285},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_008.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1342,285},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_009.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_010.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{166,288},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_011.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{332,288},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/clubhead_012.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{498,288},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>club/club_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{119,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,63}</string>
			</dict>
			<key>club/club_start_sel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,300},{104,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,44}</string>
			</dict>
			<key>club/club_15.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{3601,881},{284,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,61}</string>
			</dict>
			<key>club/club_roomlist_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2912,135},{854,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{854,85}</string>
			</dict>
			<key>club/club_input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3601,1165},{160,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>club.png</string>
			<key>realTextureFileName</key>
			<string>club.png</string>
			<key>size</key>
			<string>{4096,2152}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2152</integer>
		</dict>
	</dict>
</plist>