<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>apply_agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1468},{120,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,46}}</string>
				<key>sourceSize</key>
				<string>{120,46}</string>
			</dict>

			<key>apply_agree_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,951},{187,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,66}}</string>
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>

			<key>apply_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1304},{287,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>apply_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1980},{120,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,46}}</string>
				<key>sourceSize</key>
				<string>{120,46}</string>
			</dict>

			<key>apply_refuse_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1018},{187,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,66}}</string>
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>

			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1831},{76,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,46}}</string>
				<key>sourceSize</key>
				<string>{76,46}</string>
			</dict>

			<key>btndi.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,880},{152,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,124}}</string>
				<key>sourceSize</key>
				<string>{152,124}</string>
			</dict>

			<key>clmode.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1336},{245,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{245,233}}</string>
				<key>sourceSize</key>
				<string>{250,238}</string>
			</dict>

			<key>club_cdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1894},{99,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{99,36}}</string>
				<key>sourceSize</key>
				<string>{100,37}</string>
			</dict>

			<key>club_confirm_rename.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1935},{171,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,44}}</string>
				<key>sourceSize</key>
				<string>{172,44}</string>
			</dict>

			<key>club_ddz.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,842},{100,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,37}}</string>
				<key>sourceSize</key>
				<string>{100,37}</string>
			</dict>

			<key>club_deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1374},{84,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{84,42}}</string>
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>

			<key>club_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,799},{217,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,42}}</string>
				<key>sourceSize</key>
				<string>{217,42}</string>
			</dict>

			<key>club_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1429},{157,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,107}}</string>
				<key>sourceSize</key>
				<string>{157,107}</string>
			</dict>

			<key>club_rename.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,842},{216,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,42}}</string>
				<key>sourceSize</key>
				<string>{216,42}</string>
			</dict>

			<key>club_select_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1983},{230,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{230,57}}</string>
				<key>sourceSize</key>
				<string>{240,60}</string>
			</dict>

			<key>club_spliter.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,437},{22,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>sourceSize</key>
				<string>{22,34}</string>
			</dict>

			<key>club_static_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{324,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,51}}</string>
				<key>sourceSize</key>
				<string>{324,51}</string>
			</dict>

			<key>club_statistic_tilte.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1762},{174,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,42}}</string>
				<key>sourceSize</key>
				<string>{174,42}</string>
			</dict>

			<key>club_tab_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1005},{151,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,67}}</string>
				<key>sourceSize</key>
				<string>{151,67}</string>
			</dict>

			<key>club_withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,214},{85,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,43}}</string>
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>

			<key>clubhead_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,584},{118,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{118,121}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1178},{137,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,4},{137,113}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1632},{152,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,10},{152,101}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,406},{127,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,1},{127,120}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1073},{140,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,9},{140,104}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,269},{107,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,1},{107,119}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1935},{147,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,8},{147,106}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,742},{150,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{150,99}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1429},{148,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{148,98}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>clubhead_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,165},{133,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,11},{133,103}}</string>
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>

			<key>create_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,850},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,43}}</string>
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>

			<key>create_photo.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1782},{86,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,18}}</string>
				<key>sourceSize</key>
				<string>{86,19}</string>
			</dict>

			<key>cteate_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1653},{218,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,42}}</string>
				<key>sourceSize</key>
				<string>{218,42}</string>
			</dict>

			<key>dark_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,113},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>default_thumb.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,894},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>

			<key>detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,533},{134,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{134,50}}</string>
				<key>sourceSize</key>
				<string>{140,51}</string>
			</dict>

			<key>detail1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1708},{287,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>hongkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,483},{197,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,56}}</string>
				<key>sourceSize</key>
				<string>{197,56}</string>
			</dict>

			<key>icon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,1786},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,104}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>info_dismiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1528},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,51}}</string>
				<key>sourceSize</key>
				<string>{144,51}</string>
			</dict>

			<key>info_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1842},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,51}}</string>
				<key>sourceSize</key>
				<string>{144,51}</string>
			</dict>

			<key>info_input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1285},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,64}}</string>
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>

			<key>info_rename.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1734},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,51}}</string>
				<key>sourceSize</key>
				<string>{144,51}</string>
			</dict>

			<key>info_save.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,850},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,43}}</string>
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>

			<key>info_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1696},{218,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,42}}</string>
				<key>sourceSize</key>
				<string>{218,42}</string>
			</dict>

			<key>jrbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,680},{173,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{173,61}}</string>
				<key>sourceSize</key>
				<string>{180,62}</string>
			</dict>

			<key>jsai.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,990},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{78,64}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>jsbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1873},{173,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{173,61}}</string>
				<key>sourceSize</key>
				<string>{180,62}</string>
			</dict>

			<key>light_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,2000},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,47}}</string>
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>

			<key>log.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1607},{287,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>lximg.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1057},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,113}}</string>
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>

			<key>main_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1580},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,51}}</string>
				<key>sourceSize</key>
				<string>{144,51}</string>
			</dict>

			<key>main_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1147},{172,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,61}}</string>
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>

			<key>main_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,113},{133,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{133,51}}</string>
				<key>sourceSize</key>
				<string>{134,51}</string>
			</dict>

			<key>main_list_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1333},{138,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,87}}</string>
				<key>sourceSize</key>
				<string>{138,87}</string>
			</dict>

			<key>main_make_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1878},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,60}}</string>
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>

			<key>main_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1734},{134,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,51}}</string>
				<key>sourceSize</key>
				<string>{134,51}</string>
			</dict>

			<key>main_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1739},{218,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,42}}</string>
				<key>sourceSize</key>
				<string>{218,42}</string>
			</dict>

			<key>main_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1939},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,60}}</string>
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>

			<key>mem_degrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1894},{120,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,42}}</string>
				<key>sourceSize</key>
				<string>{120,42}</string>
			</dict>

			<key>mem_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1271},{172,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,61}}</string>
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>

			<key>mem_kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,713},{120,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,42}}</string>
				<key>sourceSize</key>
				<string>{120,42}</string>
			</dict>

			<key>mem_manage.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,842},{124,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,51}}</string>
				<key>sourceSize</key>
				<string>{124,51}</string>
			</dict>

			<key>mem_op_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,407},{154,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,125}}</string>
				<key>sourceSize</key>
				<string>{154,125}</string>
			</dict>

			<key>mem_promote.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1937},{120,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,42}}</string>
				<key>sourceSize</key>
				<string>{120,42}</string>
			</dict>

			<key>member_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1102},{287,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>my_list_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,885},{203,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,65}}</string>
				<key>sourceSize</key>
				<string>{203,65}</string>
			</dict>

			<key>oldmode.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1102},{245,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{245,233}}</string>
				<key>sourceSize</key>
				<string>{250,238}</string>
			</dict>

			<key>qhjmtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1719},{174,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,42}}</string>
				<key>sourceSize</key>
				<string>{174,42}</string>
			</dict>

			<key>query.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,61},{134,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,51}}</string>
				<key>sourceSize</key>
				<string>{134,51}</string>
			</dict>

			<key>quick_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1209},{172,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,61}}</string>
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>

			<key>rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1405},{287,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>rank_order_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,2001},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,46}}</string>
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>

			<key>rank_order_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,706},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,46}}</string>
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>

			<key>rank_order_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1417},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,46}}</string>
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>

			<key>rank_tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1809},{281,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,63}}</string>
				<key>sourceSize</key>
				<string>{281,63}</string>
			</dict>

			<key>rank_tab1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1937},{281,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,63}}</string>
				<key>sourceSize</key>
				<string>{281,63}</string>
			</dict>

			<key>rank_tab2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{281,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,63}}</string>
				<key>sourceSize</key>
				<string>{281,63}</string>
			</dict>

			<key>rank_tab2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1873},{281,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,63}}</string>
				<key>sourceSize</key>
				<string>{281,63}</string>
			</dict>

			<key>refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,214},{76,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,46}}</string>
				<key>sourceSize</key>
				<string>{76,46}</string>
			</dict>

			<key>room_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,407},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>room_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,804},{72,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,32}}</string>
				<key>sourceSize</key>
				<string>{72,32}</string>
			</dict>

			<key>room_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1085},{172,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,61}}</string>
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>

			<key>room_del.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1782},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,23}}</string>
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>

			<key>room_diamond_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1805},{152,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,36}}</string>
				<key>sourceSize</key>
				<string>{152,36}</string>
			</dict>

			<key>room_dismiss.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,941},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,47}}</string>
				<key>sourceSize</key>
				<string>{122,47}</string>
			</dict>

			<key>room_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,661},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,51}}</string>
				<key>sourceSize</key>
				<string>{144,51}</string>
			</dict>

			<key>room_gemstone_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1537},{155,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,32}}</string>
				<key>sourceSize</key>
				<string>{155,32}</string>
			</dict>

			<key>room_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1005},{124,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,51}}</string>
				<key>sourceSize</key>
				<string>{124,51}</string>
			</dict>

			<key>room_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1178},{118,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,195}}</string>
				<key>sourceSize</key>
				<string>{118,195}</string>
			</dict>

			<key>room_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1203},{287,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>room_playway_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,483},{430,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,81}}</string>
				<key>sourceSize</key>
				<string>{430,81}</string>
			</dict>

			<key>room_sep.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,2001},{3,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,44}}</string>
				<key>sourceSize</key>
				<string>{3,44}</string>
			</dict>

			<key>room_stop_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1381},{170,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,47}}</string>
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>

			<key>room_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,407},{581,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{581,75}}</string>
				<key>sourceSize</key>
				<string>{581,75}</string>
			</dict>

			<key>room_tab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,685},{201,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,63}}</string>
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>

			<key>room_tab_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,951},{201,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,63}}</string>
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>

			<key>room_tab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,885},{183,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{183,63}}</string>
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>

			<key>room_tab_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,749},{183,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{183,63}}</string>
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>

			<key>room_tab_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,621},{201,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,63}}</string>
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>

			<key>room_tab_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1015},{201,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,63}}</string>
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>

			<key>room_vacancy.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1152},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,69}}</string>
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>

			<key>round_statistics.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1506},{287,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>sdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,673},{324,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,125}}</string>
				<key>sourceSize</key>
				<string>{324,125}</string>
			</dict>

			<key>settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1333},{170,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,47}}</string>
				<key>sourceSize</key>
				<string>{170,47}</string>
			</dict>

			<key>statistics_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1786},{134,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{134,51}}</string>
				<key>sourceSize</key>
				<string>{140,51}</string>
			</dict>

			<key>tcbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1374},{87,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,40}}</string>
				<key>sourceSize</key>
				<string>{87,40}</string>
			</dict>

			<key>teahouse_apply_agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1421},{121,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{121,46}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>teahouse_apply_agree_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1653},{174,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{174,65}}</string>
				<key>sourceSize</key>
				<string>{180,66}</string>
			</dict>

			<key>teahouse_apply_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,894},{122,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,46}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>teahouse_apply_refuse_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,813},{174,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{174,66}}</string>
				<key>sourceSize</key>
				<string>{180,66}</string>
			</dict>

			<key>teahouse_bigwin_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,0},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,97}}</string>
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>

			<key>teahouse_cdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1680},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,47}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>teahouse_cdd_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1528},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,47}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>teahouse_ddz.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1576},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,47}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>teahouse_ddz_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1632},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,47}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>teahouse_info_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1842},{130,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,29}}</string>
				<key>sourceSize</key>
				<string>{130,29}</string>
			</dict>

			<key>teahouse_info_rename.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,609},{144,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{144,51}}</string>
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>

			<key>teahouse_info_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1001},{288,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>teahouse_info_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2001},{218,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{218,42}}</string>
				<key>sourceSize</key>
				<string>{220,42}</string>
			</dict>

			<key>teahouse_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1570},{173,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{173,61}}</string>
				<key>sourceSize</key>
				<string>{180,62}</string>
			</dict>

			<key>teahouse_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1468},{81,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,362}}</string>
				<key>sourceSize</key>
				<string>{81,362}</string>
			</dict>

			<key>teahouse_log_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1055},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,96}}</string>
				<key>sourceSize</key>
				<string>{72,96}</string>
			</dict>

			<key>teahouse_log_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,799},{288,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>teahouse_mem_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,575},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>teahouse_mem_headbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1222},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>teahouse_mem_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,749},{174,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{174,42}}</string>
				<key>sourceSize</key>
				<string>{180,42}</string>
			</dict>

			<key>teahouse_mode_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{288,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,100}}</string>
				<key>sourceSize</key>
				<string>{288,100}</string>
			</dict>

			<key>teahouse_query.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,756},{102,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{102,47}}</string>
				<key>sourceSize</key>
				<string>{106,47}</string>
			</dict>

			<key>teahouse_query_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1930},{239,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{239,52}}</string>
				<key>sourceSize</key>
				<string>{243,56}</string>
			</dict>

			<key>teahouse_query_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1873},{243,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,56}}</string>
				<key>sourceSize</key>
				<string>{243,56}</string>
			</dict>

			<key>teahouse_rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,565},{199,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,52}}</string>
				<key>sourceSize</key>
				<string>{199,52}</string>
			</dict>

			<key>teahouse_rank_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,488},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>

			<key>teahouse_rank_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,540},{151,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,68}}</string>
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>

			<key>teahouse_rank_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,269},{130,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,42}}</string>
				<key>sourceSize</key>
				<string>{130,42}</string>
			</dict>

			<key>teahouse_rank_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,632},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>

			<key>teahouse_red_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1079},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>teahouse_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,618},{173,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{173,61}}</string>
				<key>sourceSize</key>
				<string>{180,62}</string>
			</dict>

			<key>teahouse_save.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1570},{230,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{230,82}}</string>
				<key>sourceSize</key>
				<string>{240,82}</string>
			</dict>

			<key>teahouse_score_serch.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,527},{102,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,47}}</string>
				<key>sourceSize</key>
				<string>{102,47}</string>
			</dict>

			<key>teahouse_static_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{738,406}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{738,406}}</string>
				<key>sourceSize</key>
				<string>{742,410}</string>
			</dict>

			<key>teahouse_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,0},{134,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,60}}</string>
				<key>sourceSize</key>
				<string>{134,60}</string>
			</dict>

			<key>title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,565},{375,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{375,55}}</string>
				<key>sourceSize</key>
				<string>{377,55}</string>
			</dict>

			<key>txkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,389},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,98}}</string>
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>

			<key>txzcimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,756},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,93}}</string>
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>

			<key>wxyqbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,312},{130,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{130,46}}</string>
				<key>sourceSize</key>
				<string>{140,46}</string>
			</dict>

			<key>ycbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1292},{87,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,40}}</string>
				<key>sourceSize</key>
				<string>{87,40}</string>
			</dict>

			<key>yqbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1983},{173,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{173,61}}</string>
				<key>sourceSize</key>
				<string>{180,62}</string>
			</dict>

			<key>yxyqbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,359},{130,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{130,46}}</string>
				<key>sourceSize</key>
				<string>{140,46}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>club_2.png</string>
			</dict>
		</dict>
</plist>