<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>addzuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,80},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>backbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,485},{121,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,77}}</string>
				<key>sourceSize</key>
				<string>{121,77}</string>
			</dict>

			<key>broader.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,748},{36,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{36,31}}</string>
				<key>sourceSize</key>
				<string>{42,37}</string>
			</dict>

			<key>cctjbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,177},{158,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{158,47}}</string>
				<key>sourceSize</key>
				<string>{190,52}</string>
			</dict>

			<key>cctjbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,661},{99,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,3},{99,80}}</string>
				<key>sourceSize</key>
				<string>{125,85}</string>
			</dict>

			<key>centerdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,918},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,94}}</string>
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>

			<key>changeName.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,614},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{110,46}}</string>
				<key>sourceSize</key>
				<string>{120,46}</string>
			</dict>

			<key>cjdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,795},{183,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,225}}</string>
				<key>sourceSize</key>
				<string>{183,225}</string>
			</dict>

			<key>clubBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,277},{152,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{152,58}}</string>
				<key>sourceSize</key>
				<string>{160,58}</string>
			</dict>

			<key>clubicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,485},{84,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,56}}</string>
				<key>sourceSize</key>
				<string>{84,56}</string>
			</dict>

			<key>clubicon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,825},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>

			<key>clubinfodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,464},{242,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,58}}</string>
				<key>sourceSize</key>
				<string>{242,58}</string>
			</dict>

			<key>createClubBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{255,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,89}}</string>
				<key>sourceSize</key>
				<string>{256,89}</string>
			</dict>

			<key>cylbbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,225},{157,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{157,51}}</string>
				<key>sourceSize</key>
				<string>{190,52}</string>
			</dict>

			<key>cylbbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,742},{99,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,1},{99,82}}</string>
				<key>sourceSize</key>
				<string>{125,85}</string>
			</dict>

			<key>desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,582},{190,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{190,212}}</string>
				<key>sourceSize</key>
				<string>{200,212}</string>
			</dict>

			<key>deskindex.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,870},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{36,19}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>dibu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,79}}</string>
				<key>sourceSize</key>
				<string>{1280,79}</string>
			</dict>

			<key>ding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,661},{92,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,73}}</string>
				<key>sourceSize</key>
				<string>{92,73}</string>
			</dict>

			<key>fighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,978},{75,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{75,28}}</string>
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>

			<key>fuzhibtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,621},{72,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{72,32}}</string>
				<key>sourceSize</key>
				<string>{75,32}</string>
			</dict>

			<key>gonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{808,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{808,37}}</string>
				<key>sourceSize</key>
				<string>{808,37}</string>
			</dict>

			<key>gxnytitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,970},{192,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{192,43}}</string>
				<key>sourceSize</key>
				<string>{200,43}</string>
			</dict>

			<key>hsedi.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,118},{162,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{162,58}}</string>
				<key>sourceSize</key>
				<string>{180,58}</string>
			</dict>

			<key>huo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,940},{50,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,56}}</string>
				<key>sourceSize</key>
				<string>{50,56}</string>
			</dict>

			<key>iddi.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,523},{242,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,58}}</string>
				<key>sourceSize</key>
				<string>{242,58}</string>
			</dict>

			<key>index.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,978},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,36}}</string>
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>

			<key>itemdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,161},{123,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{123,227}}</string>
				<key>sourceSize</key>
				<string>{123,228}</string>
			</dict>

			<key>joinBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,880},{255,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{255,89}}</string>
				<key>sourceSize</key>
				<string>{256,89}</string>
			</dict>

			<key>joinClubTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,970},{217,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{217,42}}</string>
				<key>sourceSize</key>
				<string>{220,42}</string>
			</dict>

			<key>jrbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,437},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,47}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>jsbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,389},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,47}}</string>
				<key>sourceSize</key>
				<string>{130,47}</string>
			</dict>

			<key>jshuibtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,468},{173,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{173,61}}</string>
				<key>sourceSize</key>
				<string>{180,62}</string>
			</dict>

			<key>kfbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,357},{182,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{182,58}}</string>
				<key>sourceSize</key>
				<string>{190,60}</string>
			</dict>

			<key>kfbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,870},{182,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{182,58}}</string>
				<key>sourceSize</key>
				<string>{186,58}</string>
			</dict>

			<key>kfdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,80},{145,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,177}}</string>
				<key>sourceSize</key>
				<string>{145,177}</string>
			</dict>

			<key>ksjrbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,792},{244,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,77}}</string>
				<key>sourceSize</key>
				<string>{244,77}</string>
			</dict>

			<key>leftbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,0},{61,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{61,519}}</string>
				<key>sourceSize</key>
				<string>{73,519}</string>
			</dict>

			<key>lefttabdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,336},{143,593}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,593}}</string>
				<key>sourceSize</key>
				<string>{143,593}</string>
			</dict>

			<key>lefttabline.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1018},{117,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,3}}</string>
				<key>sourceSize</key>
				<string>{117,3}</string>
			</dict>

			<key>lximg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,654},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{78,78}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>nextbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,733},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>phbbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,930},{139,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{139,52}}</string>
				<key>sourceSize</key>
				<string>{190,52}</string>
			</dict>

			<key>phbbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,856},{75,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,1},{75,83}}</string>
				<key>sourceSize</key>
				<string>{125,85}</string>
			</dict>

			<key>pmd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{488,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{488,37}}</string>
				<key>sourceSize</key>
				<string>{488,37}</string>
			</dict>

			<key>qrbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,277},{153,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{153,71}}</string>
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>

			<key>ry.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,80},{30,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,29}}</string>
				<key>sourceSize</key>
				<string>{30,29}</string>
			</dict>

			<key>select.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{498,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{498,163}}</string>
				<key>sourceSize</key>
				<string>{498,163}</string>
			</dict>

			<key>selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,416},{180,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,51}}</string>
				<key>sourceSize</key>
				<string>{180,51}</string>
			</dict>

			<key>setNewWanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,929},{130,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{130,48}}</string>
				<key>sourceSize</key>
				<string>{140,48}</string>
			</dict>

			<key>setbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,357},{182,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{182,58}}</string>
				<key>sourceSize</key>
				<string>{192,58}</string>
			</dict>

			<key>setsrBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,830},{130,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{130,48}}</string>
				<key>sourceSize</key>
				<string>{140,48}</string>
			</dict>

			<key>siren.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,748},{99,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,26}}</string>
				<key>sourceSize</key>
				<string>{99,26}</string>
			</dict>

			<key>stopAutokfBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,530},{170,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{170,47}}</string>
				<key>sourceSize</key>
				<string>{180,52}</string>
			</dict>

			<key>stopkfbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,530},{170,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{170,47}}</string>
				<key>sourceSize</key>
				<string>{172,47}</string>
			</dict>

			<key>szbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,970},{183,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{183,47}}</string>
				<key>sourceSize</key>
				<string>{190,52}</string>
			</dict>

			<key>szbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,80},{124,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{124,80}}</string>
				<key>sourceSize</key>
				<string>{125,85}</string>
			</dict>

			<key>tabdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,830},{352,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,49}}</string>
				<key>sourceSize</key>
				<string>{352,49}</string>
			</dict>

			<key>task_red_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,978},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>txdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,542},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{78,78}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>txdi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,563},{89,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,90}}</string>
				<key>sourceSize</key>
				<string>{89,90}</string>
			</dict>

			<key>txdikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,825},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{96,96}}</string>
				<key>sourceSize</key>
				<string>{96,98}</string>
			</dict>

			<key>txkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,80},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>txmricon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,389},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>unselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,628},{498,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{498,163}}</string>
				<key>sourceSize</key>
				<string>{498,163}</string>
			</dict>

			<key>upbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,477},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>wanfaBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,118},{199,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,238}}</string>
				<key>sourceSize</key>
				<string>{199,238}</string>
			</dict>

			<key>wanfaListItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{553,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{553,176}}</string>
				<key>sourceSize</key>
				<string>{553,176}</string>
			</dict>

			<key>wanfaListItem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,295},{543,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{543,168}}</string>
				<key>sourceSize</key>
				<string>{543,168}</string>
			</dict>

			<key>wanfadi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,979},{80,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{80,44}}</string>
				<key>sourceSize</key>
				<string>{84,48}</string>
			</dict>

			<key>wanfadied.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,809},{82,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{82,46}}</string>
				<key>sourceSize</key>
				<string>{84,48}</string>
			</dict>

			<key>wanfindex.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,890},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,33}}</string>
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>

			<key>wenzidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,344},{63,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,92}}</string>
				<key>sourceSize</key>
				<string>{63,92}</string>
			</dict>

			<key>wflbbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,930},{130,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{130,48}}</string>
				<key>sourceSize</key>
				<string>{140,50}</string>
			</dict>

			<key>wks.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,929},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,23},{76,28}}</string>
				<key>sourceSize</key>
				<string>{84,56}</string>
			</dict>

			<key>xhlbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,665},{230,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{230,82}}</string>
				<key>sourceSize</key>
				<string>{240,83}</string>
			</dict>

			<key>xqbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,748},{73,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{73,29}}</string>
				<key>sourceSize</key>
				<string>{79,33}</string>
			</dict>

			<key>ychubtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,983},{87,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,40}}</string>
				<key>sourceSize</key>
				<string>{87,40}</string>
			</dict>

			<key>zding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,735},{92,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,73}}</string>
				<key>sourceSize</key>
				<string>{92,73}</string>
			</dict>

			<key>zhuozi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,168},{69,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{69,87}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>zhuozi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,269},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{85,100}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>zhuozi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,168},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{85,100}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>zhuozi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,256},{69,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{69,87}}</string>
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>

			<key>zjbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,563},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{110,50}}</string>
				<key>sourceSize</key>
				<string>{190,52}</string>
			</dict>

			<key>zjbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,0},{50,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,1},{50,82}}</string>
				<key>sourceSize</key>
				<string>{125,85}</string>
			</dict>

			<key>zuanshidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,416},{172,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,46}}</string>
				<key>sourceSize</key>
				<string>{180,46}</string>
			</dict>

			<key>zxycbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,582},{230,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{230,82}}</string>
				<key>sourceSize</key>
				<string>{240,83}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>club_1.png</string>
			</dict>
		</dict>
</plist>