<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chat/chat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,841},{134,146}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,382},{140,148}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,382},{144,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,703},{134,148}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,526},{134,150}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,565},{134,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,565},{134,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,668},{134,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,680},{134,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,530},{134,150}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,703},{134,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,565},{134,150}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,703},{134,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,703},{134,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,806},{134,148}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,565},{134,150}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,818},{134,148}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,841},{134,141}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,841},{134,147}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,841},{134,145}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>chat/chat_Chat_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,2},{405,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,2}</string>
			</dict>
			<key>chat/chat_hudongdaoju_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,697},{96,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,108}</string>
			</dict>
			<key>chat/chat_hudongdaoju_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,809},{96,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,108}</string>
			</dict>
			<key>chat/chat_hudongdaoju_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,921},{96,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,108}</string>
			</dict>
			<key>chat/chat_hudongdaoju_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,944},{96,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,108}</string>
			</dict>
			<key>chat/chat_hudongdaoju_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,956},{96,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,108}</string>
			</dict>
			<key>chat/chat_hudongdaoju_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1033},{96,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,108}</string>
			</dict>
			<key>chat/chat_player_speaking.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,277},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>
			<key>chat/chat_sz.fsk.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,2},{271,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,55}</string>
			</dict>
			<key>chat/chat_sz_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{559,646}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{559,646}</string>
			</dict>
			<key>chat/chat_sz_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,2},{91,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,303}</string>
			</dict>
			<key>chat/chat_sz_bq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,97},{91,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,303}</string>
			</dict>
			<key>chat/chat_sz_fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,411},{139,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,64}</string>
			</dict>
			<key>chat/chat_sz_fsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,554},{139,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,64}</string>
			</dict>
			<key>chat/chat_sz_yy.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,192},{91,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,303}</string>
			</dict>
			<key>chat/chat_sz_yy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,287},{91,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,303}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chat0.png</string>
			<key>realTextureFileName</key>
			<string>chat0.png</string>
			<key>size</key>
			<string>{1024,1131}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1131</integer>
		</dict>
	</dict>
</plist>