<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/000.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,938},{102,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,39}</string>
			</dict>
			<key>common/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,697},{753,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{753,68}</string>
			</dict>
			<key>common/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,986},{18,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,31}</string>
			</dict>
			<key>common/003.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,197},{171,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,60}</string>
			</dict>
			<key>common/004.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,767},{251,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,87}</string>
			</dict>
			<key>common/005.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,856},{75,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,160}</string>
			</dict>
			<key>common/006.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,767},{174,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,72}</string>
			</dict>
			<key>common/007.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{249,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,87}</string>
			</dict>
			<key>common/008.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,938},{249,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,85}</string>
			</dict>
			<key>common/009.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,767},{251,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,87}</string>
			</dict>
			<key>common/010.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,938},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>common/011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,874},{281,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,104}</string>
			</dict>
			<key>common/012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,767},{282,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,105}</string>
			</dict>
			<key>common/013.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,331},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>common/014.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,785},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>common/015.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,938},{46,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,36}</string>
			</dict>
			<key>common/016.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,481},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>common/017.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,533},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>common/018.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,667},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>common/019.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,481},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>common/020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1016},{690,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{690,2}</string>
			</dict>
			<key>common/021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{75,694}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,694}</string>
			</dict>
			<key>common/022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1020},{2,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2,147}</string>
			</dict>
			<key>common/023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1002},{604,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{604,12}</string>
			</dict>
			<key>common/024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,980},{648,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{648,20}</string>
			</dict>
			<key>common/025.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,476},{78,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,56}</string>
			</dict>
			<key>common/026.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,327},{128,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,70}</string>
			</dict>
			<key>common/027.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,653},{130,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,42}</string>
			</dict>
			<key>common/028.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,1},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/029.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/030.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,1},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/031.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/032.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/033.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,157},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/034.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,157},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/035.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,121},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/036.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,121},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/037.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,121},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/038.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,241},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/039.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,277},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/040.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,277},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/041.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,241},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/042.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,241},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/043.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,361},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>common/044.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,601},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>common/045.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,874},{435,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{435,62}</string>
			</dict>
			<key>common/046.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,397},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/047.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,458},{97,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,91}</string>
			</dict>
			<key>common/048.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1},{90,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,37}</string>
			</dict>
			<key>common/049.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,370},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>common/050.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,447},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>common/051.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,938},{188,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,36}</string>
			</dict>
			<key>common/052.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1},{324,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,48}</string>
			</dict>
			<key>common/053.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,327},{324,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,48}</string>
			</dict>
			<key>common/054.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1},{324,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,48}</string>
			</dict>
			<key>common/055.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,524},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>common/056.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,526},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>common/057.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{194,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,58}</string>
			</dict>
			<key>common/058.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,556},{102,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,39}</string>
			</dict>
			<key>common/059.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,457},{67,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>common/060.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,603},{92,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,38}</string>
			</dict>
			<key>common/061.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,187},{89,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,36}</string>
			</dict>
			<key>common/062.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,93},{92,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,35}</string>
			</dict>
			<key>common/063.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,459},{94,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,86}</string>
			</dict>
			<key>common/064.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,397},{112,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,106}</string>
			</dict>
			<key>common/065.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,481},{94,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,83}</string>
			</dict>
			<key>common/066.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,660},{112,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,105}</string>
			</dict>
			<key>common/067.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,856},{213,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,75}</string>
			</dict>
			<key>common/068.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,361},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>common/069.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,384},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>common/070.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,361},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>common/071.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,252},{222,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,65}</string>
			</dict>
			<key>common/072.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,121},{82,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,21}</string>
			</dict>
			<key>common/073.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,841},{155,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,24}</string>
			</dict>
			<key>common/074.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,1},{154,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,24}</string>
			</dict>
			<key>common/075.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,278},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>