<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/000.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,283},{98,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,29}</string>
			</dict>
			<key>game/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{677,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{677,62}</string>
			</dict>
			<key>game/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1},{360,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,84}</string>
			</dict>
			<key>game/003.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,112},{4,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,20}</string>
			</dict>
			<key>game/004.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,291},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>game/005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,65},{360,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,84}</string>
			</dict>
			<key>game/006.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,227},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>
			<key>game/007.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,280},{59,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,76}</string>
			</dict>
			<key>game/008.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,36},{24,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,17}</string>
			</dict>
			<key>game/009.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,55},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>
			<key>game/010.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,74},{24,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,17}</string>
			</dict>
			<key>game/011.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,93},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>
			<key>game/012.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,283},{114,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,115}</string>
			</dict>
			<key>game/013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,392},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>game/014.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,202},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>game/015.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,164},{172,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,61}</string>
			</dict>
			<key>game/016.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,151},{172,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,61}</string>
			</dict>
			<key>game/017.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,308},{32,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,39}</string>
			</dict>
			<key>game/018.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,202},{104,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,40}</string>
			</dict>
			<key>game/019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,291},{99,108}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,109}</string>
			</dict>
			<key>game/020.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,333},{44,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,52}</string>
			</dict>
			<key>game/021.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,65},{171,135}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,135}</string>
			</dict>
			<key>game/022.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,164},{156,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,136}</string>
			</dict>
			<key>game/023.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,65},{160,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,134}</string>
			</dict>
			<key>game/024.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,151},{147,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,130}</string>
			</dict>
			<key>game/025.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1},{230,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,161}</string>
			</dict>
			<key>game/026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,151},{138,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,139}</string>
			</dict>
			<key>game/027.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,392},{51,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,27}</string>
			</dict>
			<key>game/028.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1},{33,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,21}</string>
			</dict>
			<key>game/029.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,325},{61,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,66}</string>
			</dict>
			<key>game/030.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,227},{61,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,66}</string>
			</dict>
			<key>game/031.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,202},{129,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,42}</string>
			</dict>
			<key>game/032.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,283},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>game/033.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,341},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>game/034.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,290},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>